/* List Item */
.myYoutubeItem {
	overflow: hidden;
	display: block;
	padding: 20px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	background: #fff;
	color: #2f332f;
	font-size: 12px;
}

.myYoutubeItem .myYoutubeTop {
	overflow: hidden;
}
.myYoutubeItem .myYoutubeProfile {
	overflow: hidden;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	vertical-align: top;
}
.myYoutubeItem .myYoutubeProfile img {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.myYoutubeItem .myYoutubeOwner {
	display: inline-block;
	font-family: "S-CoreDream-5Medium";
	font-size: 15px;
	line-height: 30px;
	vertical-align: top;
}
.myYoutubeItem .myYoutubeCont {
	margin-top: 15px;
}
.myYoutubeItem .myYoutubeMedia {
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 75%;
	border-radius: 10px;
	font-size: 0;
	vertical-align: top;
}
.myYoutubeItem .myYoutubeMedia:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.03);
	z-index: 3;
}
.myYoutubeItem .myYoutubeMedia iframe {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.myYoutubeItem .myYoutubeTitle {
	font-family: "S-CoreDream-5Medium";
	color: #2f332f;
	margin-top: 15px;
	font-size: 14px;
	line-height: 1.5;
}
.myYoutubeItem .myYoutubeDetail {
	overflow: hidden;
	position: relative;
	display: block;
	display: -webkit-box;
	max-width: 100%;
	margin-top: 15px;
	color: #666;
	font-size: 12px;
	line-height: 18px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
